.home-page {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.login-game-area {
  height: 600px;
}
.device-preview {
}
.home-device-body::-webkit-scrollbar { width: 0 !important }
.home-log-panel {
  margin-top: 20px;
  width: 280px;
  height: 515px;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  color: #666;
  font-size: 12px;
  overflow: hidden;
}
.home-device-body {
  background: #000;
  width: 280px;
  height: 70px;
  border-radius: 10px;
  overflow: auto;
  iframe {
    border-radius: 10px;
    width: 280px;
    height: 520px;
    background: #000;
  }
}
.home-feature {
  flex: 1;
  margin-left: 20px;
  height:100%;
  //border-left: 1px solid #999;
  background: #fff;
  color: #eee;
  border-radius: 5px;
  padding: 10px;
}
