.home-page {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.login-game-area {
  height: 600px;
}
.device-preview {
  //display: flex;
  //align-items: center;
  //justify-content: center;
  //flex-direction: column;
}
.home-device-body {
  width: 250px;
  height: 500px;
  overflow: auto;
  border: 1px solid #666;
  border-radius: 20px;
  overflow: hidden;
  iframe {
    background: #fff;
    border-radius: 20px;
  }
}
.home-feature {
   flex: 1;
   margin-left: 30px;
   height:100%;
   border-left: 1px solid #999;
  background: #fff;
}
